<header class="navigation-header">
  <div class="navigation-container">
    <a href="{{ site.baseurl }}/" title="Home">
      <img id="logo" src="/public/logo.png" alt="jlawcordova-logo">
    </a>
    <nav>
      <ul>
        <li>
          <a href="">
              Blog
          </a>
        </li>
        <li>
          <a href="">
              Resume
          </a>
        </li>
        <li>
          <button>
            Contact
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>