.intro-container {
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  background-image: url("/public/graph-background.png");
  background-position: bottom;
  background-size: initial;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0 16px;
  padding-bottom: 72px;

  .intro {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  header {
    font-size: 1.125rem;
    margin-bottom: 2rem;

    .pretitle {
      font-size: 1.5rem;
      font-family: $header-font-family;
      margin-bottom: 0;
      color: $body-color;
    }

    h1 {
      font-size: 2.5rem;
      font-family: $header-font-family;
      margin-top: 0;
      color: $body-color;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 1.125rem;

      span {
        display: inline-block;
        position: relative;
        white-space: nowrap;

        .skill {
          font-weight: 500;
          color: $primary-color;
          display: inline-block;
          transition: opacity cubic-bezier(0.4, 0.0, 0.2, 1) 0.4s, transform cubic-bezier(0.4, 0.0, 0.2, 1) 0.4s;
        }

        .shown {
          position: relative;
          opacity: 1;
          transition: opacity cubic-bezier(0.4, 0.0, 0.2, 1) 0.4s;
        }

        .hidden {
          position: absolute;
          opacity: 0;
          transform: translateY(120%);
          top: 0;
          left: 0;
        }
      }
    }
  }

  .subheader {
    font-size: 1.125rem;
  }

  #cogs {
    border: none;
    border-radius: 0;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin: 64px 28px 36px 28px;
  }
}

@media only screen and (min-width: 768px) {
  .intro-container {
    grid-column-gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 672px;
    background-size: cover;
    text-align: left;

    .intro {
      grid-column: 2 / 8;
      grid-row: 2 / 6;

      header {
        text-align: left;
        font-size: 1.125rem;
        margin-bottom: 1.875rem;

        .pretitle {
          font-family: $header-font-family;
          margin-bottom: -0.6rem;;
        }

        h1 {
          font-size: 3rem;
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .subheader {
        font-size: 1.125rem;
        margin-right: 48px;
        margin-bottom: 0;
      }
    }

    #cogs {
      border: none;
      border-radius: 0;
      grid-column: 8 / 12;
      grid-row: 5 / 6;
      margin: 0;
    }
  }
}
