// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.article-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 0 16px;
  margin-top: 56px;
}

.article-wrapper {
  grid-column: 1 / 5;
}

.page,
.post {
  margin-bottom: 4em;

  li + li {
    margin-top: .25rem;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}


// Related posts
.recent-blog-container {
  margin-bottom: 2rem;

  .category-pre-heading {
    font-family: $root-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: 0.25rem;
    margin-top: 1rem;

    font-variant: small-caps;
    font-variant-caps: all-small-caps;
  }

  .blog-heading {
    color: $primary-color;
    font-family: $root-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 150%;
    margin: 0;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    a {
      color: $primary-color;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .blog-date {
    font-family: $root-font-family;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 150%;
  }
}

.recent-blog-container:last-child {
  margin-bottom: 0;
}


.related {
  padding: 42px 0;
  margin-bottom: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1.1875rem;

  h3 {
    margin-top: 0;
  }
}


@media only screen and (min-width: 768px) {
  .related-posts {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px;
  }
}

@media only screen and (min-width: 768px) {
  .article-container {
    grid-template-columns: repeat(12, 1fr);
    margin-top: 96px;
  }

  .article-wrapper {
    grid-column: 4 / 10;
  }
}
