.navigation-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  padding: 0 16px;
  height: 56px;
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 100;

  .navigation-container {
    grid-column: 1 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      img {
        border: none;
        border-radius: 0;
        margin: 0;
        height: 36px;
      }
    }

    nav {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .navigation-header {
    grid-column-gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    height: 64px;

    .navigation-container {
      grid-column: 2 / 12;

      nav {
        display: inline;

        ul {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          list-style-type: none;
          margin-bottom: 0;

          li {
            padding: 0 36px;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 0.08em;
            line-height: 0;
            font-variant: small-caps;
            font-variant-caps: all-small-caps;
            font-family: $root-font-family;

            a {
              color: $body-color;
              text-decoration: none;
              height: 36px;
            }

            a:after {
              width: 0;
              content: "";
              border-bottom: 3px solid $primary-color;
              display: block;
              transform: translateY(12px);
              transition: width 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
            }

            a:hover:after { 
              width: 100%;
            }

            button {
              padding: 0;
              color: $white;
              width: 152px;
              height: 36px;
              border: none;
              font-variant: small-caps;
              font-variant-caps: all-small-caps;
              font-family: $root-font-family;
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              letter-spacing: 0.08em;
              background-color: $primary-color;
              cursor: pointer;
              line-height: 0;
            }
          }

          li:last-child {
            padding: 0 0 0 36px;
          }
        }
      }
    }
  }
}
