.intro-container {
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  background-image: url("/public/graph-background.webp");
  background-position: bottom;
  background-size: initial;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0 16px;
  padding-bottom: 72px;
}
.intro-container .intro {
  grid-column: 1/5;
  grid-row: 2/3;
}
.intro-container header {
  font-size: var(--body-font-size);
  margin-bottom: 2rem;
}
.intro-container header .pretitle {
  font-size: 1.5rem;
  font-family: var(--header-font-family);
  margin-bottom: 0rem;
  color: var(--body-color);
}
.intro-container header h1 {
  font-size: 2.5rem;
  font-family: var(--header-font-family);
  margin-top: 0;
  color: var(--body-color);
  margin-bottom: 1rem;
  line-height: 1;
}
.intro-container header p {
  font-size: var(--body-font-size);
}
.intro-container header p span {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.intro-container header p span .skill {
  font-weight: 500;
  color: var(--primary-color);
  display: inline-block;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 0.4s, transform cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.intro-container header p span .shown {
  position: relative;
  opacity: 1;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.intro-container header p span .hidden {
  position: absolute;
  opacity: 0;
  transform: translateY(120%);
  top: 0;
  left: 0;
}
.intro-container .subheader {
  font-size: var(--body-font-size);
}
.intro-container #cogs {
  border: none;
  border-radius: 0;
  grid-column: 1/5;
  grid-row: 1/2;
  margin: 64px 28px 36px 28px;
}

@media only screen and (min-width: 768px) {
  .intro-container {
    grid-column-gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 672px;
    background-size: cover;
    text-align: left;
  }
  .intro-container .intro {
    grid-column: 2/8;
    grid-row: 2/6;
  }
  .intro-container .intro header {
    text-align: left;
    font-size: var(--body-font-size);
    margin-bottom: 1.875rem;
  }
  .intro-container .intro header .pretitle {
    font-family: var(--header-font-family);
    margin-bottom: 0rem;
  }
  .intro-container .intro header h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .intro-container .intro .subheader {
    font-size: var(--body-font-size);
    margin-right: 48px;
    margin-bottom: 0;
  }
  .intro-container #cogs {
    border: none;
    border-radius: 0;
    grid-column: 8/12;
    grid-row: 5/6;
    margin: 0;
  }
}
