<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="intro-container content">
    <div class="intro">
      <header>
        <p class="pretitle">Hi I'm</p>
        <h1>J. Law. Cordova</h1>
        <p>and I make <span class="skill">Enterprise Applications.</span></p>
      </header>
      <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris risus eros, pharetra in
        aliquet at, dignissim
        at enim.</span></p>
    </div>
    <img id="cogs" src="/public/jlawcordova-cogs.svg" alt="animated cogs">
  </div>
</body>

</html>